<h2 class="mb-3 text-center">About this project:</h2>

<p class="text">There is not a lot to say about this project. It is just the entry point to all of those other projects that I've developed or contributed to, as a Full Stack Developer during my free time.</p>
<p class="text">Currently, those projects are: </p>
<ul>
    <li class="text">Naruto Wiki (Angular and NextJS).</li>
    <li class="text">Chaps-angular-lib. (continuosly evolving)</li>
    <li class="text">One Piece Desk.</li>
    <li class="text">This portfolio as well.</li>
</ul>
<p class="text">I'm learning new technologies and also developing more apps to bring more content.</p>
<p class="text mb-5">Please come more frequently, you may find something you did not see the last time (:</p>

<h4 class="bold">Application stack: </h4>
<p class="text">This application was built using Angular 17, its latest version by november 2023.</p>
<p class="text mb-3">chaps-angular-lib: more than one of the projects that I own, it is on of this portfolio's dependencies.</p>

<section class="row mt-5 mx-0 justify-content-center">
    <a routerLink="/projects" class="col-5 col-md-3 col-xl-2">
        <chaps-lib-button 
            [buttonLabel]="'< Go back'"
            [buttonClass]="'outline-dark'">
        </chaps-lib-button>
    </a>
</section>
