<h2 class="mb-3 text-center">Projects:</h2>

<app-expandable>
    <form class="row py-3 px-xl-3 align-items-center">
        <aside class="col-12">
            <section class="row mx-0">
                <div class="col-12 col-md-6 col-xl-2 mb-3">
                    <label for="select-technology-approach" class="small-text">Technological approach</label>
                    <chaps-lib-dropdown [id]="'select-technology-approach'" 
                            [placeholder]="''" 
                            [options]="technologyApproachOptions" 
                            [(ngModel)]="technologyApproachSelected"
                            [ngModelOptions]="{standalone: true}"></chaps-lib-dropdown>
                </div>
                <div class="col-12 col-md-6 col-xl-2 mb-3">
                    <label class="small-text">Contribution type</label>
                    <chaps-lib-dropdown [id]="'select-contribution'" 
                            [placeholder]="''" 
                            [options]="contributionOptions" 
                            [(ngModel)]="contributionSelected"
                            [ngModelOptions]="{standalone: true}"></chaps-lib-dropdown>
                </div>
                <div class="col-12 col-xl-8 mb-3">
                    <label class="small-text w-100 mb-3">Technology (project has to implement all of the selected ones to be shown)</label>
                    @for (tech of availableTechnologies; track $index) {
                        <app-tech-selector 
                            [label]="tech.name"
                            [selected]="tech.selected"
                            (click)="onTechSelected($index)">
                        </app-tech-selector>
                    }
                </div>
            </section>
        </aside>
        <aside class="col-12">
            <section class="row justify-content-center align-items-center">
                <div class="col-5 col-md-4 col-xl-2">
                    <chaps-lib-button 
                        [buttonLabel]="'Clear'"
                        [buttonClass]="'warning'"
                        (onClicked)="onClearSearch()">
                    </chaps-lib-button>
                </div>
                <div class="col-5 col-md-4 col-xl-2">
                    <chaps-lib-button 
                        [buttonLabel]="'Search'"
                        [buttonClass]="'info'"
                        (onClicked)="onSearch()">
                    </chaps-lib-button>
                </div>
            </section>        
        </aside>
    </form>
</app-expandable>

@if (projects.length) {
    <div class="row">
        @for (project of projects; track $index) {
            <article class="col-12 col-md-6 col-xl-3 mb-3">
                <app-project-card 
                    [title]="project.title"
                    [imgSrc]="project.image"
                    (onSeeDetailClicked)="openModalDetail(project)">
                </app-project-card>
            </article>
        }
    </div>
}

@else {
    <section class="d-flex flex-column justify-content-center align-items-center">
        <img src="../../../assets/images/no-results.jpg" alt="No results">
        <p class="text text-center">I have not developed a project that matches those characteristics, but I am constantly working on expanding this portfolio.</p>
        <p class="text text-center">Maybe in a few months there will be results for your search.</p>
    </section>
}

<app-project-modal [projectInfo]="projectSelected"></app-project-modal>